FORMAT: 1A
HOST: https://medic-trust.com/api/v8

# Medictrust API Docs Versi 8 (Under Development)

Improvement dari API Versi 7 terutama pada proses sinkronisasi
New Clinic and Doctor API
New Appoinment API
New Consultation API
New Payment API

# Group Patient
    Endpoints API yang digunakan untuk patient app, meliputi sync, appointment, dan consultation. 

# Group Synchronization Patient
    Endpoints API untuk proses sinkronisasi

## Status [/patient/synchronize/status]

### Synchronize Status [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncStatusRequestUser)
   
        + last_sync_records (string, optional)
        + last_sync_events (string, optional)
        + last_sync_doctors (string, optional)
        + last_sync_drugs_list (string, optional)
        + last_sync_chart_info (string, optional)
        + last_sync_medical_history_question_master (string, optional)
        + last_sync_medical_history (string, optional)
        + last_sync_delayed_responses (string, optional)
        + last_sync_statistics (string, optional)
        + last_sync_medications (string, optional)
        + last_sync_shared_records (string, optional)
        + last_sync_medical_history_requests (string, optional)
        + last_sync_health_status (string, optional)
        + last_sync_vaccines (string, optional)
        + last_sync_allergies (string, optional)
        + last_sync_offline_consultation_appointments (string, optional)
        + last_sync_online_consultation_appointments (string, optional)
        + last_sync_online_consultations (string, optional)
        + last_sync_offline_consultations (string, optional)

   + Body

               {
                   "app_version": "1.3.0",
                   "last_sync_records": "2015-11-30T09:45:03+07:00"
               }
           
+ Response 200 (application/json)

   + Attributes (SyncStatusResponseUser)
   
   + Body
   
                {
                   "available": {
                       "records": 10,
                   },
                   "profiles": [
                       {
                           "account_id": 1,
                           "order": 1,
                           "first_name": "Peter",
                           "last_name": "Bloom",
                           "sex": "Male",
                           "weight": "70",
                           "height": "170",
                           "date_of_birth": "1970-01-01",
                           "marital_status": "Single",
                           "blood_type": "AB",
                           "avatar": "http://www.hellomagazine.com/imagenes/profiles/daniel-craig/5775-daniel-craig3.jpg",
                           "blurred_avatar": "http://www.hellomagazine.com/imagenes/profiles/daniel-craig/5775-daniel-craig3.jpg",
                           "contact": {
                               "profile_id": 1,
                               "primary": true,
                               "name": "Home",
                               "address": "Cikarang Tengah blok M/2 no. 3",
                               "city": "Jakarta",
                               "zip_code": "13941",
                               "phone_number": "12345678",
                               "country": "Indonesia",
                               "resource_status": "new",
                               "id": 1,
                               "created_at": "2015-05-12T09:45:12.473+00:00",
                               "updated_at": "2015-05-12T09:45:12.473+00:00"
                           },
                           "emergency_contact": {
                               "profile_id": 1,
                               "first_name": "Maria",
                               "last_name": "Bloom",
                               "mobile_phone": "08154319283",
                               "home_phone": "+6212938112",
                               "relationship": "Sister",
                               "resource_status": "new",
                               "id": 1,
                               "created_at": "2015-05-12T09:45:12.473+00:00",
                               "updated_at": "2015-05-12T09:45:12.473+00:00"
                           },
                           "bookmark_list": [
                               {
                                 "doctor_id": 1,
                                 "is_bookmark": true,
                                 "is_private": false
                               }
                           ],
                           "resource_status": "new",
                           "id": 1,
                           "created_at": "2015-05-12T09:45:12.473+00:00",
                           "updated_at": "2015-05-12T09:45:12.473+00:00"
                           ],
                         "resource_status": "new",
                         "id": 2,
                         "created_at": "2015-05-13T10:54:12.394+00:00",
                         "updated_at": "2015-05-13T10:54:12.394+00:00"
                       }
                   ],
                   "version_status": "deprecated",
                   "version_notice": "Please update MedicTrust.",
                   "unread_notification": 1
                }
                

## Records [/patient/synchronize/records]

### Synchronize Records [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[Record])

   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                   {
                       "id": 1,
                       "profile_id": 1,
                       "created_at": "2015-03-18T17:39:10.000+00:00",
                       "updated_at": "2015-03-18T17:39:10.000+00:00",
                       "resource_status": "new",
                       "extraction_status": "accepted",
                       "date": "2014-12-03",
                       "type": "imaging",
                       "subtype": "CT Scan",
                       "location": "RS Gading Pluit",
                       "doctor_name": "Djaja Gosal",
                       "doctor_id": null,
                       "result": "<p>CT scanners are shaped like a large doughnut standing on its side. You lie on a narrow, motorized table that slides through the opening into a tunnel. Straps and pillows may be used to help you stay in position. During a head scan, the table may be fitted with a special cradle that holds your head still.</p><p>While the table moves you into the scanner, detectors and the X-ray tube rotate around you. Each rotation yields several images of thin slices of your body. You may hear buzzing, clicking and whirring noises.</p><p>A technologist in a separate room can see and hear you. You will be able to communicate with the technologist via intercom. The technologist may ask you to hold your breath at certain points to avoid blurring the images.</p>",
                       "notes": "After the exam you can return to your normal routine. If you were given a contrast material, you may receive special instructions. In some cases, you may be asked to wait for a short time before leaving to ensure that you feel well after the exam. After the scan, you'll likely be told to drink lots of fluids to help your kidneys remove the contrast material from your body.",
                       "event_id": 1,
                       "event_type": "hospitalized",
                       "attachments": [
                           {
                               "id": 1,
                               "created_at": "2015-03-18T17:39:10.000+00:00",
                               "updated_at": "2015-03-18T17:39:10.000+00:00",
                               "resource_status": "new",
                               "medical_record_id": 1,
                               "image_url": "http://www.mediresource.com/HealthNews/images/English/LT1_14.jpg",
                               "thumbnail_url": "http://www.mediresource.com/HealthNews/images/English/LT1_14.jpg",
                               "file_url": "http://www.mediresource.com/HealthNews/images/English/LT1_14.jpg",
                               "attachment_type": "image"
                           }
                       ],
                       "chart_data": null,
                       "medication": null
                   }
               ]
            }
            
## Events [/patient/synchronize/events]

### Synchronize Events [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[Event])

   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                        "id": 1,
                        "profile_id": 1,
                        "created_at": "2015-03-18T17:39:10.000+00:00",
                        "updated_at": "2015-03-18T17:39:10.000+00:00",
                        "resource_status": "new",
                        "date": "2015-03-18",
                        "title": "hospitalized",
                        "description": "Kena tipes karena terlalu cape",
                        "doctor_name": "Djaja Gosal",
                        "doctor_id": null,
                        "doctor": null,
                        "location": "RS Gading Pluit",
                        "location_id": null
                    }
               ]
            }

## Doctors [/patient/synchronize/doctors]

### Synchronize Doctors [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[Doctor])

   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                  {
                    "id": 1,
                    "created_at": "2015-05-12T09:45:12.473+00:00",
                    "updated_at": "2015-05-12T09:45:12.473+00:00",
                    "resource_status": "new",
                    "first_name": "Mirna",
                    "last_name": "Asmiranti",
                    "avatar": "http://images.kpopstarz.com/data/images/full/321946/yuri-beautiful-doctor.jpg",
                    "blurred_avatar": "http://images.kpopstarz.com/data/images/full/321946/yuri-beautiful-doctor.jpg",
                    "speciality": "General Practitioner",
                    "speciality_id": 1,
                    "location": "RS Mitra Keluarga",
                    "about_me": null,
                    "work_email": null,
                    "work_phone": null,
                    "wa_phone": null,
                    "is_bookmark": true,
                    "is_private": false,
                    "schedules": [
                       {
                           "days": [0, 1, 2],
                           "start_hour": "09:00",
                           "end_hour": "15:00",
                           "location": "RS Mitra Keluarga",
                           "location_id": 1,
                           "address": "Kelapa Gading",
                           "city": "Jakarta",
                           "country": "Indonesia",
                           "zipcode": "12345",
                           "contact": [
                               {
                                   "contact_number": "12345678",
                                   "name": "Work"
                               }
                           ]
                       }
                    ]
                  }
               ]
            }
            
## Drugs List [/patient/synchronize/drugs_list]

### Synchronize Drugs List [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[Drug])

   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                  {
                    "id": 1,
                    "name": "Bodrex",
                    "side_effect_en": "Headache",
                    "side_effect_id": "Pusing",
                    "resource_status": "new",
                    "created_at": "2015-05-12T09:45:12.473+00:00",
                    "updated_at": "2015-05-12T09:45:12.473+00:00"
                  }
               ]
            }
            
## Chart Info [/patient/synchronize/chart_info]

### Synchronize Chart Info [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[ChartInfo])

   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                  {
                       "id": 1,
                       "parent_id": null,
                       "is_parent": false,
                       "has_value": true,
                       "created_at": "2015-05-12T09:45:12.473+00:00",
                       "updated_at": "2015-05-12T09:45:12.473+00:00",
                       "resource_status": "new",
                       "label_en": "Platelet",
                       "label_id": "Trombosit",
                       "classification": "blood_test",
                       "category_name": "Hemoglobin",
                       "unit": "10<sup>3</sup>/miuL",
                       "sample_value": null,
                       "has_normal_range": true,
                       "uses_time": false,
                       "link": null,
                       "hidden": false,
                       "value_type": "text",
                       "rules": {
                           "male": {
                               "general": {
                                   "min": 150,
                                   "max": 400,
                                   "value_string": null,
                                   "display": "150-400 10<sup>3</sup>/miuL"
                               },
                               "conditions": [
                                   {
                                       "age_min": 20,
                                       "age_max": 50,
                                       "min": 50,
                                       "max": 70,
                                       "value_string": null,
                                       "display": "50-70 10<sup>3</sup>/miuL"
                                   },
                                   {
                                       "age_min": 0,
                                       "age_max": 10,
                                       "min": 90,
                                       "max": 120,
                                       "value_string": null,
                                       "display": "90-120 10<sup>3</sup>/miuL"
                                   }
                               ]
                           },
                           "female": {
                               "general": {
                                   "min": 150,
                                   "max": 400,
                                   "value_string": null,
                                   "display": "150-400 10<sup>3</sup>/miuL"
                               },
                               "conditions": [
                                   {
                                       "age_min": 0,
                                       "age_max": 10,
                                       "min": 90,
                                       "max": 120,
                                       "value_string": null,
                                       "display": "90-120 10<sup>3</sup>/miuL"
                                   }
                               ]
                           }
                       }
                   }
               ]
            }
            
## Medical History Questions [/patient/synchronize/medical_history_question_master]

### Synchronize Medical History Question Master [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                      "id": 1,
                      "section": "IIlness",
                      "section_translation": {
                        "en": "Illness",
                        "id": "Penyakit"
                      },
                      "questions": [
                        {
                          "id": 2,
                          "title": "Heart",
                          "title_translation": {
                            "en": "Heart",
                            "id": "Jantung"
                          }
                      ],
                      "resource_status": "updated",
                      "created_at": "2016-08-16T07:45:21.000+00:00",
                      "updated_at": "2016-08-29T07:43:17.000+00:00"
                    }
               ]
            }
            
## Medical History [/patient/synchronize/medical_history]

### Synchronize Medical History [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)
       
   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                         "id": 1,
                         "profile_id": 1,
                         "medical_history_question_id": 2,
                         "section_id": 1,
                         "notes": "notes",
                         "answer": 1,
                         "resource_status": "new",
                         "created_at": "2016-05-12T09:45:12.473+00:00",
                         "updated_at": "2016-05-12T09:45:12.473+00:00"
                    }
               ]
            }


## Delayed Responses [/patient/synchronize/delayed_responses]

### Synchronize Delayed Responses [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[SyncDelayedResponse])
       
   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                         "id": 1,
                         "profile_id": 1,
                         "created_at": "2016-05-12T09:45:12.473+00:00",
                         "updated_at": "2016-05-12T09:45:12.473+00:00"
                    }
               ]
            }
            
## Statistics [/patient/synchronize/statistics]

### Synchronize Statistics [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[ChartData])
       
   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                       "id": 342,
                       "medical_record_id": 1,
                       "chart_info_id": 1,
                       "time": null,
                       "created_at": "2016-02-26T08:50:35.000+00:00",
                       "updated_at": "2016-04-15T10:21:27.000+00:00",
                       "resource_status": "updated",
                       "classification": "blood_test",
                       "category_name": "Hematology",
                       "name_en": "Hemoglobin",
                       "name_id": "Hemoglobin",
                       "value": "13",
                       "value_unit": "g/dL",
                       "notes": null,
                       "normal_value": "Men: 14-17.4 g/dL<br/>Women: 12-16 g/dL<br/>Children : 9.5-20.5 g/dL<br/>Newborn : 14.5-24.5 g/dL",
                       "is_normal": true,
                       "is_string": false
                   }
               ]
            }

## Medications [/patient/synchronize/medications]

### Synchronize Medications [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[Medication])
       
   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                        "id": 1,
                        "medical_record_id": null,
                        "drug_id": "null",
                        "name": "Vitaplus",
                        "duration": "2",
                        "duration_unit": "days",
                        "frequency": "1",
                        "dosage": "1000",
                        "dosage_unit": "mg",
                        "ongoing": true
                        "created_at": "2015-05-12T09:45:12.473+00:00",
                        "updated_at": "2015-05-12T09:45:12.473+00:00"
                    }
               ]
            }

## Shared Records [/patient/synchronize/shared_records]

### Synchronize Shared Records [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[SharedRecord])
       
   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                       "id": 1,
                       "doctor_id": 1,
                       "profile_id": 1,
                       "resource_status": "new",
                       "record_type": "medical_record",
                       "record": 
                       {
                           "id": 1,
                           "profile_id": 1,
                           "created_at": "2015-03-18T17:39:10.000+00:00",
                           "updated_at": "2015-03-18T17:39:10.000+00:00",
                           "resource_status": "new",
                           "extraction_status": "accepted",
                           "date": "2014-12-03",
                           "type": "imaging",
                           "subtype": "CT Scan",
                           "location": "RS Gading Pluit",
                           "doctor_name": "Djaja Gosal",
                           "doctor_id": null,
                           "result": "<p>CT scanners are shaped like a large doughnut standing on its side. You lie on a narrow, motorized table that slides through the opening into a tunnel. Straps and pillows may be used to help you stay in position. During a head scan, the table may be fitted with a special cradle that holds your head still.</p><p>While the table moves you into the scanner, detectors and the X-ray tube rotate around you. Each rotation yields several images of thin slices of your body. You may hear buzzing, clicking and whirring noises.</p><p>A technologist in a separate room can see and hear you. You will be able to communicate with the technologist via intercom. The technologist may ask you to hold your breath at certain points to avoid blurring the images.</p>",
                           "notes": "After the exam you can return to your normal routine. If you were given a contrast material, you may receive special instructions. In some cases, you may be asked to wait for a short time before leaving to ensure that you feel well after the exam. After the scan, you'll likely be told to drink lots of fluids to help your kidneys remove the contrast material from your body.",
                           "event_id": 1,
                           "event_type": "hospitalized",
                           "attachments": [
                               {
                                   "id": 1,
                                   "created_at": "2015-03-18T17:39:10.000+00:00",
                                   "updated_at": "2015-03-18T17:39:10.000+00:00",
                                   "resource_status": "new",
                                   "medical_record_id": 1,
                                   "image_url": "http://www.mediresource.com/HealthNews/images/English/LT1_14.jpg",
                                   "thumbnail_url": "http://www.mediresource.com/HealthNews/images/English/LT1_14.jpg",
                                   "file_url": "http://www.mediresource.com/HealthNews/images/English/LT1_14.jpg",
                                   "attachment_type": "image"
                               }
                           ],
                           "chart_data": null,
                           "medication": null
                        }
                   }
               ]
            }

## Health Status [/patient/synchronize/health_status]

### Synchronize Health Status [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[HealthStatus])
       
   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                      "id": 1,
                      "doctor_id": 1,
                      "profile_id": 1,
                      "state": "open",
                      "resource_status": "new",
                      "soaps": [],
                      "records": [],
                      "statistics": [],
                      "created_at": "2016-08-16T07:45:21.000+00:00",
                      "updated_at": "2016-08-16T07:45:21.000+00:00"
                    }
               ]
            }
            
## Medical History Requests [/patient/synchronize/medical_history_requests]

### Medical History Requests [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)

   + Attributes (SyncResourceResponseInfo)
       + collection (array[MedicalHistoryRequest])
       
   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                        "id": 1,
                        "profile_id": 1,
                        "doctor_id": 1,
                        "state": "requested",
                        "medical_question_ids": [1,2,3],
                        "created_at": "2015-03-18T17:39:10.000+00:00",
                        "updated_at": "2015-03-18T17:39:10.000+00:00", 
                    }
               ]
            }
            
## Vaccines [/patient/synchronize/vaccines]

### Vaccines [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)
       
   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                      "id": 1139,
                      "category_name": "Rotavirus",
                      "name": "Rotavirus 2",
                      "date_taken": null,
                      "name_translation": {
                        "en": "Rotavirus 2",
                        "id": "Rotavirus 2"
                      },
                      "category_name_translation": {
                        "en": "Rotavirus",
                        "id": "Rotavirus"
                      },
                      "resource_status": "new",
                      "profile_id": 236,
                      "created_at": "2015-04-02T22:45:29.000+00:00",
                      "updated_at": "2015-04-02T22:45:29.000+00:00"
                    }
               ]
            }
            
## Allergies [/patient/synchronize/allergies]

### Allergies [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)
       
   + Body

            {
                "per_page": 100,
                "current_page": 1,
                "total_pages": 1,
                "last_page": true,
                "collection": [
                    {
                      "id": 782,
                      "profile_id": 960,
                      "created_at": "2016-03-18T04:53:41.000+00:00",
                      "updated_at": "2016-03-18T04:53:41.000+00:00",
                      "resource_status": "new",
                      "name": "Insect Sting",
                      "category_name": "Animal",
                      "reaction": "asd"
                    }  
               ]
            }
            
## Offline Consultation Appointment [/patient/synchronize/offline_consultation_appointments]

### Offline Consultation Appointment [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)
       
   + Body

            {
              "collection": [
                {
                  "id": 50,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 51,
                  "service_id": 5,
                  "datetime": "2017-01-11T12:00:00.000+00:00",
                  "date": "2017-01-11",
                  "time": "12:00",
                  "type": "Online",
                  "notes": null,
                  "state": "rescheduled",
                  "consultation": null,
                  "resource_status": "deleted",
                  "started_at": null,
                  "completed_at": null,
                  "valid": true,
                  "updated_at": "2016-12-29T10:33:03.000+00:00",
                  "created_at": "2016-12-27T16:39:21.000+00:00",
                  "initial_appointment_id": null
                }
              ],
              "per_page": 50,
              "current_page": 1,
              "total_pages": 1,
              "last_page": true
            }
            
## Online Consultation Appointment [/patient/synchronize/online_consultation_appointments]

### Online Consultation Appointment [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)
       
   + Body

            {
              "collection": [
                {
                  "id": 58,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 51,
                  "service_id": 4,
                  "datetime": "2017-01-11T12:00:00.000+00:00",
                  "date": "2017-01-11",
                  "time": "12:00",
                  "type": "Offline",
                  "notes": null,
                  "state": "scheduled",
                  "consultation": null,
                  "resource_status": "deleted",
                  "started_at": null,
                  "completed_at": null,
                  "valid": true,
                  "updated_at": "2016-12-29T11:05:17.000+00:00",
                  "created_at": "2016-12-29T11:04:41.000+00:00",
                  "initial_appointment_id": null
                }
              ],
              "per_page": 50,
              "current_page": 1,
              "total_pages": 1,
              "last_page": true
            }
            
## Online Consultation [/patient/synchronize/online_consultations]

### Online Consultation [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)
       
   + Body

            {
              "collection": [
                {
                  "id": 1,
                  "appointment_id": 20,
                  "partner_id": 1,
                  "service_id": 5,
                  "profile_id": 1,
                  "location_id": 50,
                  "complain": null,
                  "allergies": null,
                  "vaccines": null,
                  "notes": null,
                  "state": "initiated",
                  "type": "Online",
                  "health_statuses": [],
                  "resource_status": "updated",
                  "started_at": null,
                  "completed_at": null,
                  "created_at": "2016-12-21T15:18:21.000+00:00",
                  "updated_at": "2016-12-29T10:31:41.000+00:00",
                  "conversation": null
                }
              ],
              "per_page": 50,
              "current_page": 1,
              "total_pages": 1,
              "last_page": true
            }
            
## Offline Consultation [/patient/synchronize/offline_consultations]

### Offline Consultation [POST]

+ Request (application/json)

   + Headers

            X-MedicTrust-Token: 129j0asn0cn1
            X-MedicTrust-Lang: en

   + Attributes (SyncResourceRequest)

+ Response 200 (application/json)
       
   + Body

            {
              "collection": [
                 {
                  "id": 16,
                  "appointment_id": 60,
                  "partner_id": 1,
                  "service_id": 4,
                  "profile_id": 1,
                  "location_id": 51,
                  "complain": null,
                  "allergies": null,
                  "vaccines": null,
                  "notes": null,
                  "state": "started",
                  "type": "Offline",
                  "health_statuses": [],
                  "resource_status": "updated",
                  "started_at": "2016-12-29T11:08:25.000+00:00",
                  "completed_at": null,
                  "created_at": "2016-12-29T11:07:26.000+00:00",
                  "updated_at": "2016-12-29T11:08:25.000+00:00"
                }
              ],
              "per_page": 50,
              "current_page": 1,
              "total_pages": 1,
              "last_page": true
            }
            
# Group Patient Partners
    Endpoints API untuk query atau request partner (doctor dan clinic)
    
# Group Patient Doctors
    Kumpulan Endpoint digroup ini merupakan endpoint dari API untuk pasien app di V7.
    
## Browse [/patient/partners/doctors]

### GET /doctors{?profile_id,name,speciality,speciality_id}
Cari dokter berdasarkan nama dan/atau specialitynya. Contoh, untuk mendapatkan list seluruh dokter yang specialitynya General Practicioner, bisa melakukan request seperti ini: `/doctors?speciality=General Practitioner`

Untuk mendapatkan list dokter untuk profile tertentu, bisa juga mengirim parameter seperti ini:
`/doctors?profile_id=142&speciality=General Practitioner`. Respon dari sini nantinya akan ditambahkan dengan status `is_bookmark` dan `is_private` ke profile_id yang dikirim. **Perlu diperhatikan**, bila `profile_id` tidak dikirim maka di setiap dokter, parameter `is_bookmark` dan `is_private` akan selalu bernilai `false`.

Parameter yang dapat dikirim (semuanya opsional):
- `profile_id`
- `name`
- `speciality`
- `speciality_id`

+ Parameter
   + profile_id (number, optional) - Server id dari profile. Bila dikirim, respon akan include status bookmarknya.
   + name (string, optional) - Nama dokter.
   + speciality (string, optional) - Speciality dari dokter.
   + speciality_id (number, optional) - Server ID untuk speciality dari `/doctors/specialities`.

+ Request (application/json)

   + Headers

               X-MedicTrust-Token: 129j0asn0cn1
               X-MedicTrust-Lang: en

+ Response 200 (application/json)

   + Attributes (object)
               + count: 1 (number) - Jumlah data dokter di request ini.
               + doctors (array[SimpleDoctor]) - Array isi data dokter-dokter.

## GET [/patient/partners/doctors/{id}{?profile_id}]

### GET /doctors/{id}{?profile_id}
Detail dokter berdasarkan id yang dikirim. Optionally, developer juga dapat mengirim parameter `profile_id` untuk mendapatkan nilai `is_bookmark` dan `is_private`. Bila `profile_id` tidak dikirim, maka defaultnya selalu bernilai false. (Tinggal di override oleh `bookmark_list` – response dari sinkron profiles.)

    + Parameter
                + id (number, required) - Server ID dari dokter yang di request informasi detailnya.
                + profile_id (number, optional) - Kalo ini dikirim, respon akan include status bookmark dan private.

+ Request (application/json)

    + Headers

               X-MedicTrust-Token: 129j0asn0cn1
               X-MedicTrust-Lang: en

+ Response 200 (application/json)

   + Attributes (Doctor)

   + Body

               {
                   "id": 1,
                   "created_at": "2015-05-12T09:45:12.473+00:00",
                   "updated_at": "2015-05-12T09:45:12.473+00:00",
                   "resource_status": "new",
                   "first_name": "Mirna",
                   "last_name": "Asmiranti",
                   "avatar": "http://images.kpopstarz.com/data/images/full/321946/yuri-beautiful-doctor.jpg",
                   "blurred_avatar": "http://images.kpopstarz.com/data/images/full/321946/yuri-beautiful-doctor.jpg",
                   "speciality": "General Practitioner",
                   "speciality_id": 1,
                   "location": "RS Mitra Keluarga",
                   "about_me": null,
                   "work_email": null,
                   "work_phone": null,
                   "wa_phone": null,
                   "is_bookmark": true,
                   "is_private": false,
                   "schedules": [
                       {
                           "days": [0, 1, 2],
                           "start_hour": "09:00",
                           "end_hour": "15:00",
                           "location": "RS Mitra Keluarga",
                           "address": "Kelapa Gading",
                           "city": "Jakarta",
                           "country": "Indonesia",
                           "zipcode": "12345",
                           "location_id": null,
                           "doctor_name": "Lionel",
                           "contact": [
                               {
                                   "contact_number": "12345678",
                                   "name": "Work"
                               }
                           ]
                       }
                   ],
                   "bookings": [
                       {
                           "date": "2016-03-02",
                           "offset": "+00:00",
                           "time": [
                               "15:00",
                               "16:00",
                               "17:00"
                           ]
                       },
                       {
                           "date": "2016-03-03",
                           "offset": "+00:00",
                           "time": [
                               "16:00",
                               "17:00"
                           ]
                       }
                   ]
               }


# Group Patient Partners Clinics
    Kumpulan Endpoint digroup ini merupakan endpoint dari API untuk pasien app di V7 diubah kelas untuk querynya menggunakan Clinic.
    
## Browse [/patient/partners/clinics]

### GET /doctors{?profile_id,name,speciality,speciality_id}
Cari dokter berdasarkan nama dan/atau specialitynya. Contoh, untuk mendapatkan list seluruh dokter yang specialitynya General Practicioner, bisa melakukan request seperti ini: `/doctors?speciality=General Practitioner`

Untuk mendapatkan list clinic untuk profile tertentu, bisa juga mengirim parameter seperti ini:
`/doctors?profile_id=142&speciality=General Practitioner`. Respon dari sini nantinya akan ditambahkan dengan status `is_bookmark` dan `is_private` ke profile_id yang dikirim. **Perlu diperhatikan**, bila `profile_id` tidak dikirim maka di setiap dokter, parameter `is_bookmark` dan `is_private` akan selalu bernilai `false`.

Parameter yang dapat dikirim (semuanya opsional):
- `profile_id`
- `name`
- `speciality`
- `speciality_id`

+ Parameter
   + profile_id (number, optional) - Server id dari profile. Bila dikirim, respon akan include status bookmarknya.
   + name (string, optional) - Nama dokter.
   + speciality (string, optional) - Speciality dari dokter.
   + speciality_id (number, optional) - Server ID untuk speciality dari `/doctors/specialities`.

+ Request (application/json)

   + Headers

               X-MedicTrust-Token: 129j0asn0cn1
               X-MedicTrust-Lang: en

+ Response 200 (application/json)

   + Attributes (object)
               + count: 1 (number) - Jumlah data dokter di request ini.
               + doctors (array[SimpleDoctor]) - Array isi data dokter-dokter.

## GET [/patient/partners/clinic/{id}{?profile_id}]

### GET /doctors/{id}{?profile_id}
Detail dokter berdasarkan id yang dikirim. Optionally, developer juga dapat mengirim parameter `profile_id` untuk mendapatkan nilai `is_bookmark` dan `is_private`. Bila `profile_id` tidak dikirim, maka defaultnya selalu bernilai false. (Tinggal di override oleh `bookmark_list` – response dari sinkron profiles.)

    + Parameter
                + id (number, required) - Server ID dari dokter yang di request informasi detailnya.
                + profile_id (number, optional) - Kalo ini dikirim, respon akan include status bookmark dan private.

+ Request (application/json)

    + Headers

               X-MedicTrust-Token: 129j0asn0cn1
               X-MedicTrust-Lang: en

+ Response 200 (application/json)

   + Attributes (Doctor)

   + Body

               {
                   "id": 1,
                   "created_at": "2015-05-12T09:45:12.473+00:00",
                   "updated_at": "2015-05-12T09:45:12.473+00:00",
                   "resource_status": "new",
                   "first_name": "Mirna",
                   "last_name": "Asmiranti",
                   "avatar": "http://images.kpopstarz.com/data/images/full/321946/yuri-beautiful-doctor.jpg",
                   "blurred_avatar": "http://images.kpopstarz.com/data/images/full/321946/yuri-beautiful-doctor.jpg",
                   "speciality": "General Practitioner",
                   "speciality_id": 1,
                   "location": "RS Mitra Keluarga",
                   "about_me": null,
                   "work_email": null,
                   "work_phone": null,
                   "wa_phone": null,
                   "is_bookmark": true,
                   "is_private": false,
                   "schedules": [
                       {
                           "days": [0, 1, 2],
                           "start_hour": "09:00",
                           "end_hour": "15:00",
                           "location": "RS Mitra Keluarga",
                           "address": "Kelapa Gading",
                           "city": "Jakarta",
                           "country": "Indonesia",
                           "zipcode": "12345",
                           "location_id": null,
                           "doctor_name": "Lionel",
                           "contact": [
                               {
                                   "contact_number": "12345678",
                                   "name": "Work"
                               }
                           ]
                       }
                   ],
                   "bookings": [
                       {
                           "date": "2016-03-02",
                           "offset": "+00:00",
                           "time": [
                               "15:00",
                               "16:00",
                               "17:00"
                           ]
                       },
                       {
                           "date": "2016-03-03",
                           "offset": "+00:00",
                           "time": [
                               "16:00",
                               "17:00"
                           ]
                       }
                   ]
               }
               
               
# Group Patient Partner Consultation Appointments

# Group Patient Partner Consultation Appointment Online

## Index [/patient/partners/consultation_appointments/online]
    List online appointments dengan filter. 
        
### Index [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               { 
                 "filter": { 
                                "partner_id": 1, 
                                "location_id": 1,
                                "start_datetime": "2017-1-12 2:00",
                                "end_datetime": "2017-1-17 2:00"
                            }
               }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "collection": [
                    {
                      "id": 61,
                      "profile_id": 1,
                      "partner_id": 1,
                      "location_id": 50,
                      "service_id": 5,
                      "datetime": "2017-11-12T12:00:00.000+00:00",
                      "date": "2017-11-12",
                      "time": "12:00",
                      "type": "Online",
                      "notes": null,
                      "state": "rescheduled",
                      "consultation": null,
                      "resource_status": "updated",
                      "started_at": null,
                      "completed_at": null,
                      "valid": false,
                      "queue": false,
                      "queue_number": null,
                      "updated_at": "2017-01-03T09:33:02.000+00:00",
                      "created_at": "2017-01-03T09:32:35.000+00:00",
                      "initial_appointment_id": null
                    }
                  ],
                  "page": 1,
                  "per_page": 50,
                  "total_pages": 1,
                  "last_page": true
                }

# Group Patient Partner Consultation Appointment Offline

## Index [/patient/partners/consultation_appointments/offline]
    List offline appointments dengan filter. 
        
### Index [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               { 
                 "filter": { 
                                "partner_id": 1, 
                                "location_id": 1,
                                "start_datetime": "2017-1-11 2:00",
                                "end_datetime": "2017-1-17 2:00"
                            }
               }  
           
+ Response 200 (application/json)
   
   + Body
                
            {
              "collection": [
                {
                  "id": 60,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 51,
                  "service_id": 4,
                  "datetime": "2017-01-11T12:00:00.000+00:00",
                  "date": "2017-01-11",
                  "time": "12:00",
                  "type": "Offline",
                  "notes": null,
                  "state": "ongoing",
                  "consultation": null,
                  "resource_status": "updated",
                  "started_at": "2016-12-29T11:07:26.000+00:00",
                  "completed_at": null,
                  "valid": true,
                  "queue": false,
                  "queue_number": null,
                  "updated_at": "2016-12-29T11:07:26.000+00:00",
                  "created_at": "2016-12-29T11:05:50.000+00:00",
                  "initial_appointment_id": null
                }
              ],
              "page": 1,
              "per_page": 50,
              "total_pages": 1,
              "last_page": true
            }
               
# Group Patient Partner Locations

## Index [/patient/partners/locations]
    List partner locations dengan filter. 
        
### Index [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               { 
                 "filter": { 
                                "partner_name": "Doctor", 
                                "partner_id": 1, 
                                "name": "Location", 
                                "address": "address", 
                                "city": "Bandung", 
                                "province": "Jawa Barat",
                                "near": 
                                    {
                                        "query": { "distance": 10 },
                                        "query": [40.71, -100.23],
                                        "query": "Bandung"
                                    }
                            }
               }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "collection": [
                    {
                      "id": 50,
                      "name": null,
                      "address": null,
                      "city": null,
                      "province": null,
                      "country": null,
                      "latitude": null,
                      "longitude": null,
                      "online": true,
                      "attachments": [],
                      "created_at": "2016-12-20T19:15:03.000+00:00",
                      "updated_at": "2016-12-20T19:15:03.000+00:00",
                      "resource_status": "new",
                      "partner_id": 1,
                      "owner": null,
                      "practiced_doctors": []
                    },
                    {
                      "id": 51,
                      "name": null,
                      "address": "Another",
                      "city": "Bandung",
                      "province": "Jawa Barat",
                      "country": "Indonesia",
                      "latitude": null,
                      "longitude": null,
                      "online": false,
                      "attachments": [],
                      "created_at": "2016-12-21T15:29:10.000+00:00",
                      "updated_at": "2016-12-21T15:29:10.000+00:00",
                      "resource_status": "new",
                      "partner_id": 1,
                      "owner": null,
                      "practiced_doctors": []
                    }
                  ],
                  "page": 1,
                  "per_page": 20,
                  "total_pages": 1,
                  "last_page": true
                }
                

## Show [/patient/partners/locations/{id}]
    Show partner location. 
        
### Show [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 50,
                  "name": null,
                  "address": null,
                  "city": null,
                  "province": null,
                  "country": null,
                  "latitude": null,
                  "longitude": null,
                  "online": true,
                  "attachments": [],
                  "created_at": "2016-12-20T19:15:03.000+00:00",
                  "updated_at": "2016-12-20T19:15:03.000+00:00",
                  "resource_status": "new",
                  "partner_id": 1,
                  "owner": null,
                  "practiced_doctors": []
                }

# Group Patient Partner Practice Locations

## Index [/patient/partners/practice_locations]
    List partner practice locations dengan filter. 
        
### Index [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               { 
                 "filter": { 
                                "location_id": 1, 
                                "partner_id": 1
                            }
               }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "collection": [
                    {
                      "id": 37,
                      "location_id": 51,
                      "rate": 10000,
                      "created_at": "2016-12-21T15:29:10.000+00:00",
                      "updated_at": "2016-12-29T13:41:45.000+00:00",
                      "resource_status": "updated",
                      "schedules": [
                        {
                          "id": 1,
                          "partner_id": 37,
                          "schedulable_type": "PracticeLocation",
                          "day": 1,
                          "name_of_the_day": "Monday",
                          "start": null,
                          "end": null,
                          "created_at": "2016-12-21T15:29:10.000+00:00",
                          "updated_at": "2016-12-21T15:29:10.000+00:00",
                          "resource_status": "new"
                        },
                        {
                          "id": 2,
                          "partner_id": 37,
                          "schedulable_type": "PracticeLocation",
                          "day": 2,
                          "name_of_the_day": "Tuesday",
                          "start": null,
                          "end": null,
                          "created_at": "2016-12-21T15:29:10.000+00:00",
                          "updated_at": "2016-12-21T15:29:10.000+00:00",
                          "resource_status": "new"
                        },
                        {
                          "id": 3,
                          "partner_id": 37,
                          "schedulable_type": "PracticeLocation",
                          "day": 3,
                          "name_of_the_day": "Wednesday",
                          "start": null,
                          "end": null,
                          "created_at": "2016-12-21T15:29:10.000+00:00",
                          "updated_at": "2016-12-21T15:29:10.000+00:00",
                          "resource_status": "new"
                        },
                        {
                          "id": 4,
                          "partner_id": 37,
                          "schedulable_type": "PracticeLocation",
                          "day": 4,
                          "name_of_the_day": "Thursday",
                          "start": null,
                          "end": null,
                          "created_at": "2016-12-21T15:29:10.000+00:00",
                          "updated_at": "2016-12-21T15:29:10.000+00:00",
                          "resource_status": "new"
                        },
                        {
                          "id": 5,
                          "partner_id": 37,
                          "schedulable_type": "PracticeLocation",
                          "day": 5,
                          "name_of_the_day": "Friday",
                          "start": null,
                          "end": null,
                          "created_at": "2016-12-21T15:29:10.000+00:00",
                          "updated_at": "2016-12-21T15:29:10.000+00:00",
                          "resource_status": "new"
                        }
                      ],
                      "partner": null
                    }
                  ],
                  "page": 1,
                  "per_page": 20,
                  "total_pages": 1,
                  "last_page": true
                }
                

## Show [/patient/partners/practice_locations/{id}]
    Show partner practice location. 
        
### Show [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
               {
                  "id": 37,
                  "location_id": 51,
                  "rate": 10000,
                  "created_at": "2016-12-21T15:29:10.000+00:00",
                  "updated_at": "2016-12-29T13:41:45.000+00:00",
                  "resource_status": "updated",
                  "schedules": [
                    {
                      "id": 1,
                      "partner_id": 37,
                      "schedulable_type": "PracticeLocation",
                      "day": 1,
                      "name_of_the_day": "Monday",
                      "start": null,
                      "end": null,
                      "created_at": "2016-12-21T15:29:10.000+00:00",
                      "updated_at": "2016-12-21T15:29:10.000+00:00",
                      "resource_status": "new"
                    },
                    {
                      "id": 2,
                      "partner_id": 37,
                      "schedulable_type": "PracticeLocation",
                      "day": 2,
                      "name_of_the_day": "Tuesday",
                      "start": null,
                      "end": null,
                      "created_at": "2016-12-21T15:29:10.000+00:00",
                      "updated_at": "2016-12-21T15:29:10.000+00:00",
                      "resource_status": "new"
                    },
                    {
                      "id": 3,
                      "partner_id": 37,
                      "schedulable_type": "PracticeLocation",
                      "day": 3,
                      "name_of_the_day": "Wednesday",
                      "start": null,
                      "end": null,
                      "created_at": "2016-12-21T15:29:10.000+00:00",
                      "updated_at": "2016-12-21T15:29:10.000+00:00",
                      "resource_status": "new"
                    },
                    {
                      "id": 4,
                      "partner_id": 37,
                      "schedulable_type": "PracticeLocation",
                      "day": 4,
                      "name_of_the_day": "Thursday",
                      "start": null,
                      "end": null,
                      "created_at": "2016-12-21T15:29:10.000+00:00",
                      "updated_at": "2016-12-21T15:29:10.000+00:00",
                      "resource_status": "new"
                    },
                    {
                      "id": 5,
                      "partner_id": 37,
                      "schedulable_type": "PracticeLocation",
                      "day": 5,
                      "name_of_the_day": "Friday",
                      "start": null,
                      "end": null,
                      "created_at": "2016-12-21T15:29:10.000+00:00",
                      "updated_at": "2016-12-21T15:29:10.000+00:00",
                      "resource_status": "new"
                    }
                  ],
                  "partner": null
                }


# Group Patient Service Requests
    Endpoints API untuk service request objects, seperti consultation appointment, consultation dan emergency requests

# Group Patient Online Consultation Appointment

## Create [/patient/service_requests/consultation_appointments/online]
    Create online consultation appointment object. parameter `date` dan `time` menjadi mandatory jika parameter `datetime` kosong. 
        
### Create [POST]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               { 
                 "date": "2015-11-12", 
                 "time": "12:00",
                 "datetime": "2015-11-12 12:00",
                 "profile_id": 1, 
                 "partner_id": 1, 
                 "location_id": 36,
                 "notes": "Notes"
               }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 51,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 51,
                  "service_id": 5,
                  "datetime": "2017-01-11T12:00:00.000+00:00",
                  "date": "2017-01-11",
                  "time": "12:00",
                  "type": "Online",
                  "notes": "Notes",
                  "state": "scheduled",
                  "consultation": null,
                  "resource_status": "new",
                  "started_at": null,
                  "completed_at": null,
                  "valid": true,
                  "updated_at": "2016-12-29T10:33:03.000+00:00",
                  "created_at": "2016-12-27T16:39:39.000+00:00",
                  "initial_appointment_id": null
                }
                

## Update [/patient/service_requests/consultation_appointments/online/{id}]
    Endpoint ini hanya menerima `notes` parameter sebagai update attribute untuk object online consultation appointment
        
### Update [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               { 
                 "date": "2015-11-12", 
                 "time": "12:00",
                 "datetime": "2015-11-12 12:00",
                 "profile_id": 1, 
                 "partner_id": 1, 
                 "location_id": 36,
                 "notes": "Notes"
               }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 62,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 50,
                  "service_id": 5,
                  "datetime": "2017-01-11T12:00:00.000+00:00",
                  "date": "2017-01-11",
                  "time": "12:00",
                  "type": "Online",
                  "notes": null,
                  "state": "rescheduled",
                  "consultation": null,
                  "resource_status": "new",
                  "started_at": null,
                  "completed_at": null,
                  "valid": true,
                  "updated_at": "2017-01-03T09:33:02.000+00:00",
                  "created_at": "2017-01-03T09:33:02.000+00:00",
                  "initial_appointment_id": null
                }
                

## Reschedule [/patient/service_requests/consultation_appointments/online/{id}/reschedule]
    Endpoint ini digunakan untuk merubah `state` untuk consultation appointment object dari `scheduled` atau `rescheduled` ke `rescheduled`. Parameter yang mandatory adalah `datetime` atau `date` dan `time`.
        
### Update [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               { 
                 "date": "2015-11-12", 
                 "time": "12:00",
                 "datetime": "2015-11-12 12:00",
                 "notes": "Notes"
               }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 52,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 50,
                  "service_id": 5,
                  "datetime": "2017-01-11T12:00:00.000+00:00",
                  "date": "2017-01-11",
                  "time": "12:00",
                  "type": "Online",
                  "notes": null,
                  "state": "rescheduled",
                  "consultation": null,
                  "resource_status": "new",
                  "started_at": null,
                  "completed_at": null,
                  "valid": true,
                  "updated_at": "2017-01-03T09:33:02.000+00:00",
                  "created_at": "2017-01-03T09:33:02.000+00:00",
                  "initial_appointment_id": 51
                }
                

## Initiate [/patient/service_requests/consultation_appointments/online/{id}/initiate]
    Set consultation appointment online object state ke `initiated`. online consultation dan conversation object digenerate ketika event `initiate`.
        
### Initiate [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 53,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 51,
                  "service_id": 5,
                  "datetime": "2017-01-12T12:00:00.000+00:00",
                  "date": "2017-01-12",
                  "time": "12:00",
                  "type": "Online",
                  "notes": null,
                  "state": "on_going",
                  "consultation": {
                    "id": 15,
                    "appointment_id": 53,
                    "partner_id": 1,
                    "service_id": 5,
                    "profile_id": 1,
                    "location_id": 51,
                    "complain": null,
                    "allergies": null,
                    "vaccines": null,
                    "notes": null,
                    "state": "initiated",
                    "type": "Online",
                    "health_statuses": [],
                    "resource_status": "new",
                    "started_at": null,
                    "completed_at": null,
                    "created_at": "2016-12-29T10:44:24.000+00:00",
                    "updated_at": "2016-12-29T10:52:51.000+00:00",
                    "conversation": { 
                            "id": 1,
                            "context_type": "Online",
                            "context_id": 15,
                            "subject": "Online Consultation",
                            "type": "Conversation",
                            "messages": [],
                            "created_at": "2016-12-29T10:44:24.000+00:00",
                            "updated_at": "2016-12-29T10:52:51.000+00:00"
                        }
                  },
                  "resource_status": "updated",
                  "started_at": "2016-12-29T10:44:24.000+00:00",
                  "completed_at": null,
                  "valid": true,
                  "updated_at": "2016-12-29T10:52:51.000+00:00",
                  "created_at": "2016-12-29T10:39:31.000+00:00",
                  "initial_appointment_id": null
                }
                

# Group Patient Offline Consultation Appointment

## Create [/patient/service_requests/consultation_appointments/offline]
    Create offline consultation appointment object. parameter `date` dan `time` menjadi mandatory jika parameter `datetime` kosong. 
        
### Create [POST]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               { 
                 "date": "2015-11-12", 
                 "time": "12:00",
                 "datetime": "2015-11-12 12:00",
                 "profile_id": 1, 
                 "partner_id": 1, 
                 "location_id": 36,
                 "notes": "Notes"
               }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 51,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 51,
                  "service_id": 5,
                  "datetime": "2017-01-11T12:00:00.000+00:00",
                  "date": "2017-01-11",
                  "time": "12:00",
                  "type": "Offline",
                  "notes": "Notes",
                  "state": "scheduled",
                  "consultation": null,
                  "resource_status": "new",
                  "started_at": null,
                  "completed_at": null,
                  "valid": true,
                  "updated_at": "2016-12-29T10:33:03.000+00:00",
                  "created_at": "2016-12-27T16:39:39.000+00:00",
                  "initial_appointment_id": null
                }
                

## Update [/patient/service_requests/consultation_appointments/offline/{id}]
    Endpoint ini hanya menerima `notes` parameter sebagai update attribute untuk object online consultation appointment
        
### Update [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               { 
                 "date": "2015-11-12", 
                 "time": "12:00",
                 "datetime": "2015-11-12 12:00",
                 "profile_id": 1, 
                 "partner_id": 1, 
                 "location_id": 36,
                 "notes": "Notes"
               }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 62,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 50,
                  "service_id": 5,
                  "datetime": "2017-01-11T12:00:00.000+00:00",
                  "date": "2017-01-11",
                  "time": "12:00",
                  "type": "Offline",
                  "notes": null,
                  "state": "rescheduled",
                  "consultation": null,
                  "resource_status": "new",
                  "started_at": null,
                  "completed_at": null,
                  "valid": true,
                  "updated_at": "2017-01-03T09:33:02.000+00:00",
                  "created_at": "2017-01-03T09:33:02.000+00:00",
                  "initial_appointment_id": null
                }
                

## Reschedule [/patient/service_requests/consultation_appointments/offline/{id}/reschedule]
    Endpoint ini digunakan untuk merubah `state` untuk consultation appointment object dari `scheduled` atau `rescheduled` ke `rescheduled`. Parameter yang mandatory adalah `datetime` atau `date` dan `time`.
        
### Update [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               { 
                 "date": "2015-11-12", 
                 "time": "12:00",
                 "datetime": "2015-11-12 12:00",
                 "notes": "Notes"
               }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 52,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 50,
                  "service_id": 5,
                  "datetime": "2017-01-11T12:00:00.000+00:00",
                  "date": "2017-01-11",
                  "time": "12:00",
                  "type": "Offline",
                  "notes": null,
                  "state": "rescheduled",
                  "consultation": null,
                  "resource_status": "new",
                  "started_at": null,
                  "completed_at": null,
                  "valid": true,
                  "updated_at": "2017-01-03T09:33:02.000+00:00",
                  "created_at": "2017-01-03T09:33:02.000+00:00",
                  "initial_appointment_id": 51
                }
                

## Initiate [/patient/service_requests/consultation_appointments/offline/{id}/initiate]
    Set consultation appointment online object state ke `initiated`. online consultation dan conversation object digenerate ketika event `initiate`.
        
### Initiate [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 53,
                  "profile_id": 1,
                  "partner_id": 1,
                  "location_id": 51,
                  "service_id": 5,
                  "datetime": "2017-01-12T12:00:00.000+00:00",
                  "date": "2017-01-12",
                  "time": "12:00",
                  "type": "Online",
                  "notes": null,
                  "state": "on_going",
                  "consultation": {
                    "id": 15,
                    "appointment_id": 53,
                    "partner_id": 1,
                    "service_id": 5,
                    "profile_id": 1,
                    "location_id": 51,
                    "complain": null,
                    "allergies": null,
                    "vaccines": null,
                    "notes": null,
                    "state": "initiated",
                    "type": "Online",
                    "health_statuses": [],
                    "resource_status": "new",
                    "started_at": null,
                    "completed_at": null,
                    "created_at": "2016-12-29T10:44:24.000+00:00",
                    "updated_at": "2016-12-29T10:52:51.000+00:00",
                  },
                  "resource_status": "updated",
                  "started_at": "2016-12-29T10:44:24.000+00:00",
                  "completed_at": null,
                  "valid": true,
                  "updated_at": "2016-12-29T10:52:51.000+00:00",
                  "created_at": "2016-12-29T10:39:31.000+00:00",
                  "initial_appointment_id": null
                }
                
                

# Group Patient Online Consultation

## Show[/service_requests/consultations/online/{id}]

### Show [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 15,
                  "appointment_id": 53,
                  "partner_id": 1,
                  "service_id": 5,
                  "profile_id": 1,
                  "location_id": 51,
                  "complain": "Complain",
                  "vaccines": "vaccines",
                  "allergies": "allergies",
                  "notes": "notes",
                  "state": "initiated",
                  "type": "Online",
                  "health_statuses": [],
                  "resource_status": "updated",
                  "started_at": null,
                  "completed_at": null,
                  "created_at": "2016-12-29T10:44:24.000+00:00",
                  "updated_at": "2016-12-29T10:52:51.000+00:00",
                  "conversation": null
                }

## Update [/patient/service_requests/consultations/online/{id}]
        
### Update [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

                {
                    "complain": "Complain",
                    "vaccines": "vaccines",
                    "allergies": "allergies",
                    "notes": "notes"
                }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 15,
                  "appointment_id": 53,
                  "partner_id": 1,
                  "service_id": 5,
                  "profile_id": 1,
                  "location_id": 51,
                  "complain": "Complain",
                  "vaccines": "vaccines",
                  "allergies": "allergies",
                  "notes": "notes",
                  "state": "initiated",
                  "type": "Online",
                  "health_statuses": [],
                  "resource_status": "updated",
                  "started_at": null,
                  "completed_at": null,
                  "created_at": "2016-12-29T10:44:24.000+00:00",
                  "updated_at": "2016-12-29T10:52:51.000+00:00",
                  "conversation": null
                }
                

## Complete [/patient/service_requests/consultations/online/{id}/complete]

### Complete [PUT]
    To start online consultation. The `completed_at` response params will be timestamped.
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 15,
                  "appointment_id": 53,
                  "partner_id": 1,
                  "service_id": 5,
                  "profile_id": 1,
                  "location_id": 51,
                  "complain": "Complain",
                  "vaccines": "vaccines",
                  "allergies": "allergies",
                  "notes": "notes",
                  "state": "completed",
                  "type": "Online",
                  "health_statuses": [],
                  "resource_status": "updated",
                  "started_at": "2017-1-1T10:44:24.000+00:00",
                  "completed_at": "2017-1-1T10:55:24.000+00:00",
                  "created_at": "2016-12-29T10:44:24.000+00:00",
                  "updated_at": "2016-12-29T10:52:51.000+00:00",
                  "conversation": null
                }

# Group Patient Consultation Conversation

## Show [/patient/service_requests/consultations/online/{consultation_id}/conversations/{id}]

### Show Doctor Online Consultation Conversation [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                { 
                    "id": 1,
                    "context_type": "Online",
                    "context_id": 15,
                    "subject": "Online Consultation",
                    "type": "Conversation",
                    "messages": [],
                    "created_at": "2016-12-29T10:44:24.000+00:00",
                    "updated_at": "2016-12-29T10:52:51.000+00:00"
                }
                

## Update [/patient/service_requests/consultations/online/{consultation_id}/conversations/{id}]

### Update [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
    
    + Body

               {
                    "subject": "Subject"
                } 
           
+ Response 200 (application/json)
   
   + Body
                
                { 
                    "id": 1,
                    "context_type": "Online",
                    "context_id": 15,
                    "subject": "Subject",
                    "type": "Conversation",
                    "messages": [],
                    "created_at": "2016-12-29T10:44:24.000+00:00",
                    "updated_at": "2016-12-29T10:52:51.000+00:00"
                }
                

## List Activities [/patient/service_requests/consultations/online/{consultation_id}/conversations/{id}/activities]

### List Activities [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                    "collection": [
                            {
                              "id": 1,
                              "conversation_id": 1,
                              "sender": {
                                "sender": {
                                  "id": 148,
                                  "name": "Doctor",
                                  "unread": true
                                }
                              },
                              "recipients": [
                                {
                                  "id": 147,
                                  "name": "Roger Federer",
                                  "unread": true
                                },
                                {
                                  "id": 148,
                                  "name": "Doctor",
                                  "unread": true
                                }
                              ],
                              "body": "Message",
                              "subject": "Online Consultation",
                              "attachment": null,
                              "type": "Message",
                              "created_at": "2016-12-29T10:36:10.000+00:00",
                              "updated_at": "2016-12-29T10:36:10.000+00:00"
                            },
                            {
                              "id": 2,
                              "conversation_id": 1,
                              "sender": {
                                "sender": {
                                  "id": 148,
                                  "name": "Doctor",
                                  "unread": true
                                }
                              },
                              "recipients": [
                                {
                                  "id": 147,
                                  "name": "Roger Federer",
                                  "unread": true
                                },
                                {
                                  "id": 148,
                                  "name": "Doctor",
                                  "unread": true
                                }
                              ],
                              "body": "is calling",
                              "subject": "Online Consultation",
                              "attachment": null,
                              "type": "Call",
                              "created_at": "2016-12-29T10:36:10.000+00:00",
                              "updated_at": "2016-12-29T10:36:10.000+00:00"
                            }
                          ],
                    "per_page": 10,
                    "current_page": 1,
                    "total_pages": 1,
                    "last_page": true,
                }
                

## List Messages [/patient/service_requests/consultations/online/{consultation_id}/conversations/{id}/messages]

### List Messages [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                    "collection": [
                            {
                              "id": 1,
                              "conversation_id": 1,
                              "sender": {
                                "sender": {
                                  "id": 148,
                                  "name": "Doctor",
                                  "unread": true
                                }
                              },
                              "recipients": [
                                {
                                  "id": 147,
                                  "name": "Roger Federer",
                                  "unread": true
                                },
                                {
                                  "id": 148,
                                  "name": "Doctor",
                                  "unread": true
                                }
                              ],
                              "body": "Message",
                              "subject": "Online Consultation",
                              "attachment": null,
                              "type": "Message",
                              "created_at": "2016-12-29T10:36:10.000+00:00",
                              "updated_at": "2016-12-29T10:36:10.000+00:00"
                            }
                          ],
                    "per_page": 10,
                    "current_page": 1,
                    "total_pages": 1,
                    "last_page": true,
                }
                

## Create Message [/patient/service_requests/consultations/online/{consultation_id}/conversations/{conversation_id}/messages]

### Create  [POST]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               {
                    "reply": "message reply",
                    "attachment": `<file:/image.png>`
                } 
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 1,
                  "conversation_id": 1,
                  "sender": {
                    "sender": {
                      "id": 148,
                      "name": "Doctor",
                      "unread": true
                    }
                  },
                  "recipients": [
                    {
                      "id": 147,
                      "name": "Roger Federer",
                      "unread": true
                    },
                    {
                      "id": 148,
                      "name": "Doctor",
                      "unread": true
                    }
                  ],
                  "body": "Message",
                  "subject": "Online Consultation",
                  "attachment": "http://www.mediresource.com/HealthNews/images/English/LT1_14.jpg",
                  "type": "Message",
                  "created_at": "2016-12-29T10:36:10.000+00:00",
                  "updated_at": "2016-12-29T10:36:10.000+00:00"
                }
                

## Read Message [/patient/service_requests/consultations/online/{consultation_id}/conversations/{conversation_id}/messages/{id}/read]

### Read Message Online Consultation Conversation [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 1,
                  "conversation_id": 1,
                  "sender": {
                    "sender": {
                      "id": 148,
                      "name": "Doctor",
                      "unread": false
                    }
                  },
                  "recipients": [
                    {
                      "id": 147,
                      "name": "Roger Federer",
                      "unread": true
                    },
                    {
                      "id": 148,
                      "name": "Doctor",
                      "unread": false
                    }
                  ],
                  "body": "Message",
                  "subject": "Online Consultation",
                  "attachment": "http://www.mediresource.com/HealthNews/images/English/LT1_14.jpg",
                  "type": "Message",
                  "created_at": "2016-12-29T10:36:10.000+00:00",
                  "updated_at": "2016-12-29T10:36:10.000+00:00"
                }
                

## List Calls [/patient/service_requests/consultations/online/{consultation_id}/conversations/{conversation_id}/calls]

### List Calls [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                    "collection": [
                            {
                              "id": 1,
                              "conversation_id": 1,
                              "sender": {
                                "sender": {
                                  "id": 148,
                                  "name": "Doctor",
                                  "unread": true
                                }
                              },
                              "recipients": [
                                {
                                  "id": 147,
                                  "name": "Roger Federer",
                                  "unread": true
                                },
                                {
                                  "id": 148,
                                  "name": "Doctor",
                                  "unread": true
                                }
                              ],
                              "body": "Call",
                              "subject": "Online Consultation",
                              "attachment": null,
                              "type": "Message",
                              "created_at": "2016-12-29T10:36:10.000+00:00",
                              "updated_at": "2016-12-29T10:36:10.000+00:00"
                            }
                          ],
                    "per_page": 10,
                    "current_page": 1,
                    "total_pages": 1,
                    "last_page": true,
                }
                

## Create Call [/patient/service_requests/consultations/online/{consultation_id}/conversations/{conversation_id}/calls]

### Calss Message Online Consultation Conversation [POST]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               {
                    "reply": "message reply",
                } 
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 1,
                  "conversation_id": 1,
                  "sender": {
                    "sender": {
                      "id": 148,
                      "name": "Doctor",
                      "unread": true
                    }
                  },
                  "recipients": [
                    {
                      "id": 147,
                      "name": "Roger Federer",
                      "unread": true
                    },
                    {
                      "id": 148,
                      "name": "Doctor",
                      "unread": true
                    }
                  ],
                  "body": "Message",
                  "subject": "Online Consultation",
                  "attachment": null,
                  "type": "Message",
                  "created_at": "2016-12-29T10:36:10.000+00:00",
                  "updated_at": "2016-12-29T10:36:10.000+00:00"
                }
                

## Receive Call [/patient/service_requests/consultations/online/{consultation_id}/conversations/{conversation_id}/messages/{id}/receive]

### Receive Call Online Consultation Conversation [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 1,
                  "conversation_id": 1,
                  "sender": {
                    "sender": {
                      "id": 148,
                      "name": "Doctor",
                      "unread": false
                    }
                  },
                  "recipients": [
                    {
                      "id": 147,
                      "name": "Roger Federer",
                      "unread": true
                    },
                    {
                      "id": 148,
                      "name": "Doctor",
                      "unread": false
                    }
                  ],
                  "body": "Call",
                  "subject": "Online Consultation",
                  "attachment": "http://www.mediresource.com/HealthNews/images/English/LT1_14.jpg",
                  "type": "Message",
                  "created_at": "2016-12-29T10:36:10.000+00:00",
                  "updated_at": "2016-12-29T10:36:10.000+00:00"
                }


# Group Patient Offline Consultation

## Show [patient/service_requests/consultations/offline/{id}]

### Show [GET]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 15,
                  "appointment_id": 53,
                  "partner_id": 1,
                  "service_id": 5,
                  "profile_id": 1,
                  "location_id": 51,
                  "complain": "Complain",
                  "vaccines": "vaccines",
                  "allergies": "allergies",
                  "notes": "notes",
                  "state": "initiated",
                  "type": "Offline",
                  "health_statuses": [],
                  "resource_status": "updated",
                  "started_at": null,
                  "completed_at": null,
                  "created_at": "2016-12-29T10:44:24.000+00:00",
                  "updated_at": "2016-12-29T10:52:51.000+00:00",
                }
                

## Update [/patient/service_requests/consultations/offline/{id}]

### Update [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
                
    + Body

               {
                    "complain": "Complain",
                    "vaccines": "vaccines",
                    "allergies": "allergies",
                    "notes": "notes"
                }  
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 15,
                  "appointment_id": 53,
                  "partner_id": 1,
                  "service_id": 5,
                  "profile_id": 1,
                  "location_id": 51,
                  "complain": "Complain",
                  "vaccines": "vaccines",
                  "allergies": "allergies",
                  "notes": "notes",
                  "state": "initiated",
                  "type": "Offline",
                  "health_statuses": [],
                  "resource_status": "updated",
                  "started_at": null,
                  "completed_at": null,
                  "created_at": "2016-12-29T10:44:24.000+00:00",
                  "updated_at": "2016-12-29T10:52:51.000+00:00",
                }

## Complete [patient/service_requests/consultations/offline/{id}/complete]

### Complete [PUT]
            
+ Request (application/json)

    + Headers

                X-MedicTrust-Token: 129j0asn0cn1
                X-MedicTrust-Lang: en
           
+ Response 200 (application/json)
   
   + Body
                
                {
                  "id": 15,
                  "appointment_id": 53,
                  "partner_id": 1,
                  "service_id": 5,
                  "profile_id": 1,
                  "location_id": 51,
                  "complain": "Complain",
                  "vaccines": "vaccines",
                  "allergies": "allergies",
                  "notes": "notes",
                  "state": "completed",
                  "type": "Offline",
                  "health_statuses": [],
                  "resource_status": "updated",
                  "started_at": "2017-1-1T10:44:24.000+00:00",
                  "completed_at": "2017-1-1T10:59:24.000+00:00",
                  "created_at": "2016-12-29T10:44:24.000+00:00",
                  "updated_at": "2016-12-29T10:52:51.000+00:00",
                }
                
                
/* end of patient group */

# Group Synchronization Doctor
API ini sudah tidak dipakai. Gunakan API <a href="http://docs.medictrustapidocsversi8.apiary.io/#reference/partner-doctor-synchronization/synchronize-promotions">sync di partner/doctor</a>.

## Status [/doctor/synchronize/status/{token}]

### Synchronize Status [POST]

+ Request (application/json)

   + Attributes (SyncStatusRequestDoctor)
   
        + last_sync_labels (string, optional)
[...]
